@media only screen and (min-width: 768px) {
    #jedinivelikih1{
        font-size:30px;
    }
    #reklame{
        width: 650px;
    }
    .textulmd{
        font-size:14px;
    }
    .visineprvidiv{
        height: 100%;
    }
    .litextmenu{
        font-size:13px;
    }
    .strelicaprodaje{
        left:400px;
    }
}